<?xml version="1.0"?>
<!--
/**
 * Copyright AAC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="learning" frontName="learning">
            <module name="Magciu_FirstModule" />
        </route>
    </router>
</config>
